.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
}

.banner {
  display: flex;
  flex-flow: column;
}
.banner__row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.banner__main {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  justify-content: center;
  height: 100%;
  width: 50%;
}
.banner__title {
  font-size: 60px;
}
.banner__gallery {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-size: cover;
  padding: 0px 0px 0px 10px;
}
.banner__gallery img {
  max-width: 100%;
}

@media only screen and (max-width: 850px) {
  .main {
    padding: 40px 0px 0px 0px;
  }

  .banner__row {
    flex-flow: column-reverse;
  }
  .banner__main {
    width: 100%;
    align-items: center;
  }
  .banner__gallery {
    width: 100%;
  }
}