$maincolor: #3bc8ff;
$black: #000a11;
$white: #edf4ff;



.main {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	// background: url(../img/main-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	// padding: 70px 0px 0px 0px;
	flex: 1 0 100%;
}

.banner {
	display: flex;
	flex-flow: column;

	&__container {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&__body {
		display: flex;
		flex-flow: column;
		align-content: center;
		justify-content: center;
		height: 100%;
		width: 50%;
		z-index: 5;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 60px;
	}

	&__subtitle {
		font-family: 'Roboto Slab', serif;
		font-size: 25px;
		margin: 0px 0px 0px 0px;
	}

	&__slider {
		width: 100%;
		min-height: 100%;
	}
}

.slider {
	position: absolute;
	top: 0;
	left: 0;

	&__track {
		position: absolute;
		transition: 700ms;
		width: calc(100% * 5);
		min-height: 100%;
		height: 100%;
		display: flex;
		justify-content: start;
		flex-wrap: nowrap;
	}

	&__slide {
		width: 100%;
		height: 100%;
	}

	&__slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0;
	}

	&__viewSlide {
		margin: 5px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: $black;
	}

	&__btns {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		z-index: 5;
	}
}

#sliderViewport {
	position: absolute;
	width: 100%;
	// height: 100%;
	min-height: 100%;
	overflow: hidden;
}

#sliderViewSlider {
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
	// width: calc(30px * 5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

#sliderPrevBtn {
	outline: none;
	border: none;
	background: transparent;
	transform: rotate(-90deg);
}

#sliderNextBtn {
	outline: none;
	border: none;
	background: transparent;
	transform: rotate(90deg);
}


@media only screen and (max-width: 850px) {
	.main {
		padding: 40px 0px 0px 0px;
	}

	.banner {

		&__row {
			flex-flow: column-reverse;
		}

		&__main {
			width: 100%;
			align-items: center;
		}

		&__gallery {
			width: 100%;
		}
	}

}