$maincolor: #3bc8ff;
$black: #000a11;
$white: #edf4ff;

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;

.about-me {
	width: 100%;
	background-color: #000a116f;
	background-image: url(../img/aboutbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin: 0px 0px 20px 0px;
	position: relative;

}

.about {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		text-align: center;
		color: $white;
		margin-bottom: 10px;
	}

	&__icon-block {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		width: 60px;
		position: relative;
	}

	&__icon-def {
		color: $white;
		font-size: 50px;
		margin-top: -30px;
	}

	&__subtitle {
		font-family: 'Roboto Slab', serif;
		font-size: 18px;
		text-align: center;
		color: $white;
	}

}


.portfolio {

	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-top: 10px;

	&__body {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
}

.card {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	box-shadow: #000a1142 2px 2px 15px;
	width: 30%;
	height: 400px;
	// padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: $white;
	background-color: $black;
	overflow: hidden;

	&__decor {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

	&__label {
		z-index: 3;
		color: $maincolor;
		opacity: 0;
		transition: all .3s;
	}

	&__box {
		min-height: 340px;
		max-height: 340px;
		overflow: hidden;
	}

	&__box::before,
	&__box::after {
		content: '';
		display: block;
		position: absolute;
		background-color: $maincolor;
		transition: all .8s;
		z-index: 3;
	}

	&__box::before {
		top: 5px;
		left: 0;
		width: 0.0000001px;
		height: 3px;
	}

	&__box::after {
		bottom: 5px;
		right: 0;
		width: 0.0000001px;
		height: 3px;
	}

	&__img {
		min-height: 340px;
		max-height: 340px;
		min-width: 100%;
		overflow: hidden;
		transition: .5s;
	}


	&__content {
		width: 90%;
		height: 60px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		z-index: 4;
	}

	&__title {
		margin: 0;
	}

	&__link {
		text-decoration: none;
		color: $maincolor;
	}

	&__btn {
		background-color: transparent;
		color: $maincolor;
		border: $maincolor solid 2px;
		border-radius: 5px;
		height: 30px;
		width: 60px;
		transition: all .3s;
		cursor: pointer;
	}
}

.card__btn:hover {
	background-color: $maincolor;
}

.card__btn:hover .card__link {
	color: $black;
}

.card__btn:active .card__link {
	color: $black;
}

.card:hover {

	.card__box::before,
	.card__box::after {
		width: 100%;
	}
}

.card:hover .card__img {
	transform: scale(1.05);
}

.card:hover .card__label {
	opacity: 1;
}

.card__decor::before,
.card__decor::after {
	content: '';
	position: absolute;
	top: 0;
	width: 400px;
	height: 400px;
	background-color: rgba($color: #000000, $alpha: .45);
	transform: rotate(45deg);
	transition: all .3s;
	z-index: 2;
}

.card__decor::before {
	left: 200%;
}

.card__decor::after {
	right: 200%;
}

.card:hover .card__decor::after {
	right: 25%;
}

.card:hover .card__decor::before {
	left: 25%;
}

@media only screen and (max-width: 850px) {
	.card {
		width: 45%;

		&__content {
			display: flex !important;
			flex-flow: row nowrap !important;
			justify-content: space-between !important;
			align-items: center !important;
		}
	}
}

@media only screen and (max-width: 500px) {
	.card {
		width: 80%;
	}
}

@media only screen and (max-width: 550px) {
	.about-me {
		background-image: url(../img/aboutbgmobile.jpg);
		background-size: cover;
		background-attachment: fixed;

	}

	.card {
		flex-flow: column;

		&__img {}

		&__content {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		&__title {
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}
	}
}




.contact {
	width: 100%;
	background-color: #000a1113;
	padding: 50px 0px 30px 0px;
}

.contacts {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	&__info {
		width: 40%;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-family: 'Roboto', sans-serif;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 50px 0px;
	}

	&__card {
		text-decoration: none;
	}

	&__form {
		width: 60%;
		height: 100%;
	}
}

.contact-card {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0px 0px 30px 0px;
	cursor: pointer;

	&__icon {
		width: 50px;
	}

	&__content {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0px 0px 0px 20px;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-family: 'Roboto', sans-serif;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 0px 0px;
	}
}


.message-form {
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		color: $black;
		margin: 0px 0px 30px 0px;
	}

	&__group {
		position: relative;
		margin: 10px 0px 30px 0px;
	}

	&__label,
	&__input {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		color: $black;
		transition: all .3s;
	}

	&__label {
		position: absolute;
		top: 0;
		left: 10px;
		color: #000a1146;
	}

	&__input {
		background-color: transparent;
		width: 100%;
		padding: 5px 0px 5px 5px;
		border: none;
		border-bottom: #000a1146 solid 2px;
		outline: none;
	}

	&__input:focus {
		border-bottom: $black solid 2px;
	}

	&__input:focus~&__label,
	&__input:not(:placeholder-shown)~&__label {
		top: -22px;
		font-size: 16px;
		color: $black;
	}

	&__btn {}
}

.form-message {
	min-height: 150px;
	resize: none;
}

.form-message:focus~.message-form__label,
.form-message:not(:placeholder-shown)~.message-form__label {
	top: -18px;
	font-size: 16px;
	color: $black;
}

.button {}



@media only screen and (max-width: 800px) {
	.contacts {
		flex-flow: column;

		&__info {
			width: 100%;
			height: 100%;
			margin: 0px 0px 50px 0px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		&__form {
			width: 100%;
			height: 100%;
		}
	}

	.message-form {
		&__title {
			text-align: center;
		}
	}
}