$maincolor: #3bc8ff;
$black: #000a11;
$white: #edf4ff;

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;

.about-me {
	width: 100%;
	background-color: #000a116f;
	background-image: url(../img/aboutbg.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin: 0px 0px 20px 0px;
	position: relative;

}

.about {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		text-align: center;
		color: $white;
		margin-bottom: 10px;
	}

	&__icon-block {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	&__icon {
		width: 60px;
		position: relative;
	}

	&__icon-def {
		color: $white;
		font-size: 50px;
		margin-top: -30px;
	}

	&__subtitle {
		font-family: 'Roboto Slab', serif;
		font-size: 18px;
		text-align: center;
		color: $white;
	}

}


.portfolio {


	&__body {}
}

.card {
	// margin-top: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	box-shadow: #000a1142 2px 2px 15px;
	padding: 10px;
	margin: 0px 0px 20px 0px;
	border-radius: 20px;
	text-decoration: none;
	color: $black;

	&__img {
		max-width: 200px;
		max-height: 200px;
		margin: 10px;
		border-radius: 10px;
		overflow: hidden;
		transition: .5s;
	}


	&__content {}

	&__title {}

	&__subtitle {}
}

.card:hover .card__img {
	transform: scale(1.05);
}


@media only screen and (max-width: 550px) {
	.about-me {
		background-image: url(../img/aboutbgmobile.jpg);
		background-size: cover;
		background-attachment: fixed;

	}

	.card {
		flex-flow: column;

		&__img {}

		&__content {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		&__title {
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}
	}
}




.contact {
	width: 100%;
	background-color: #000a1113;
	padding: 50px 0px 30px 0px;
}

.contacts {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	&__info {
		width: 40%;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-family: 'Roboto', sans-serif;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 50px 0px;
	}

	&__card {
		text-decoration: none;
	}

	&__form {
		width: 60%;
		height: 100%;
	}
}

.contact-card {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0px 0px 30px 0px;
	cursor: pointer;

	&__icon {
		width: 50px;
	}

	&__content {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0px 0px 0px 20px;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-family: 'Roboto', sans-serif;
		color: $black;
		text-decoration: none;
		margin: 0px 0px 0px 0px;
	}
}


.message-form {
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		color: $black;
		margin: 0px 0px 30px 0px;
	}

	&__group {
		position: relative;
		margin: 10px 0px 30px 0px;
	}

	&__label,
	&__input {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		color: $black;
		transition: all .3s;
	}

	&__label {
		position: absolute;
		top: 0;
		left: 10px;
		color: #000a1146;
	}

	&__input {
		background-color: transparent;
		width: 100%;
		padding: 5px 0px 5px 5px;
		border: none;
		border-bottom: #000a1146 solid 2px;
		outline: none;
	}

	&__input:focus {
		border-bottom: $black solid 2px;
	}

	&__input:focus~&__label,
	&__input:not(:placeholder-shown)~&__label {
		top: -22px;
		font-size: 16px;
		color: $black;
	}

	&__btn {}
}

.form-message {
	min-height: 150px;
	resize: none;
}

.form-message:focus~.message-form__label,
.form-message:not(:placeholder-shown)~.message-form__label {
	top: -18px;
	font-size: 16px;
	color: $black;
}

.button {}



@media only screen and (max-width: 800px) {
	.contacts {
		flex-flow: column;

		&__info {
			width: 100%;
			height: 100%;
			margin: 0px 0px 50px 0px;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
		}

		&__form {
			width: 100%;
			height: 100%;
		}
	}

	.message-form {
		&__title {
			text-align: center;
		}
	}
}