html,
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  background-color: #edf4ff;
}

body.active {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #000a11;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #3bc8ff;
  border-radius: 5px;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 10px;
}

.footer {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: #000a11;
  color: #edf4ff;
  font-family: "Roboto", sans-serif;
}

.button {
  height: 30px;
  width: 80px;
  font-size: 13px;
  border-radius: 12px;
  border: none;
  background-color: #3bc8ff;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover,
.button:focus {
  top: 5px;
  box-shadow: 0 2px 0px 0 #000a11;
}

.button:active {
  box-shadow: 0 1px 0px 0 #000a11;
  transition: all 0.1s;
}

#btnTop {
  width: 40px;
  min-height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #edf4ff;
  z-index: 1000;
  transition: 0.3s;
  box-shadow: #1c23236a 2px 2px 2px 2px;
  display: none;
  opacity: 0;
}

#btnTop:hover {
  transform: scale(1.15);
}

#btnTop img {
  max-width: 100%;
}

.neon-btn {
  width: 60px;
  height: 30px;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.neon-btn:hover {
  background-color: aqua;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 50px aqua;
}

.neon-btn:hover a {
  color: #fff;
}

.neon-btn__link {
  text-decoration: none;
  font-size: 14px;
  color: aqua;
}

.neon-btn__elem1 {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, aqua);
  animation: border-anim1 1s linear infinite;
  animation-delay: 0;
  position: absolute;
  top: 0px;
  left: 0;
}

@keyframes border-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.neon-btn__elem2 {
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, aqua);
  animation: border-anim2 1s linear infinite;
  animation-delay: 0.25s;
  position: absolute;
  top: -100%;
  right: 0px;
}

@keyframes border-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.neon-btn__elem3 {
  width: 100%;
  height: 2px;
  background: linear-gradient(-90deg, transparent, aqua);
  animation: border-anim3 1s linear infinite;
  animation-delay: 0.5s;
  position: absolute;
  bottom: 0px;
  left: -100%;
}

@keyframes border-anim3 {
  0% {
    left: 100%;
  }
  50%, 100% {
    left: -100%;
  }
}
.neon-btn__elem4 {
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, aqua);
  animation: border-anim4 1s linear infinite;
  animation-delay: 0.75s;
  position: absolute;
  top: 100%;
  left: 0px;
}

@keyframes border-anim4 {
  0% {
    top: 100%;
  }
  50%, 100% {
    top: -100%;
  }
}